<header class="covering-letter-header">
  <!-- <div class="profile-header">
    <h1>{{name}}</h1>
    <h2>{{label}}</h2>
  </div>
  <div class="profile-pic">
    {{#if image}}
      <img src="{{image}}" alt="profile-pic">
    {{/if}}
  </div> -->

  <div>HEADER</div>
</header>
