.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  padding: 36px 22px 30px 34px;
  @include shadow();
  display: flex;
  flex-direction: column;
  position: relative;

  &:after {
    width: #{$border-width};
    position: absolute;
    content: '';
    height: 100%;
    right: 0;
    top: 0;
    background:
      repeating-linear-gradient(to bottom,
        $color-pink 0%, $color-pink calc(#{$border-bar-height} * 1),
        $color-blue calc(#{$border-bar-height} * 1), $color-blue calc(#{$border-bar-height} * 2),
        $color-green calc(#{$border-bar-height} * 2), calc(#{$border-bar-height} * 3),
        $color-yellow calc(#{$border-bar-height} * 3), $color-yellow calc(#{$border-bar-height} * 4))
      center/  /* position */
      #{$border-width} 100% /* size (width height) */
      repeat /* don't repeat */
      rgb(200,200,200); /* background color */
    }
}

.resume-content, .covering-letter-conten {
  display: flex;
}

.left-column {
  width: $aside-width;
  margin-right: $aside-margin;
  word-wrap: break-word;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}