.page {
  background: white;
  width: $page-width;
  min-height: $page-height;
  display: block;
  margin: 0 auto;
  border-right: 8px solid;
  border-image: repeating-linear-gradient(to top,
    $color-yellow 0%, $color-yellow 2.5%,
    $color-green 2.5%, $color-green 5%,
    $color-blue 5%, $color-blue 7.5%,
    $color-pink 7.5%, $color-pink 10%) 5;
  padding: 36px 22px 30px 34px;
  @include shadow();
  display: flex;
  flex-direction: column;
}

.resume-content {
  display: flex;
}

.left-column {
  width: $aside-width;
  margin-right: $aside-margin;
  word-wrap: break-word;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(3);

  &:last-child {
    margin-bottom: 0;
  }
}