@media print {
  body {
    background: white;
    margin: 0 0 30px;
  }

  @page {
    margin-right: 0; // ADD FOR COLOR BORDER
    margin-top: 0; // ADD FOR COLOR BORDER
    margin-bottom: 0; // ADD FOR COLOR BORDER
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    // padding: 36px 0 30px;
    padding: 36px 0 750px; // TODO: make this dynamic - if you need to print fill page border
    box-shadow: none;
    border: none;
    .resume-header,
    .resume-content {
      padding: 0 62px 0 34px;
    }
  }

  .skills-container  {
    .container {
      page-break-inside: avoid;
    }
  }

  .interests-container, .education-container, .languages-container {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .work-container {
    .item {
      break-inside: avoid;
      page-break-inside: avoid;
    }
  }

  .fa-external-link {
    display: none;
  }

  .print-padding-top {
    padding-top: 40px;
  }
}
