@media print {
  body {
    background: white;
    margin: 0 0 100px;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 36px 0 30px;
    box-shadow: none;
    border: none;
    .resume-header,
    .resume-content {
      padding: 0 22px 0 34px;
    }
  }

  .skills-container, .languages-container  {
    .container {
      page-break-inside: avoid;
    }
  }

  .interests-container, .education-container {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .work-container {
    .item {
      // break-inside: avoid;
      // page-break-inside: avoid;
    }
  }

  .fa-external-link {
    display: none;
  }
}
