.container {
  padding-top: spacing(4);
  position: relative;
}

.keyline {
  width: spacing(9);
  margin: 8px 0 10px;
  border-top: 1px solid $secondary-color;
}

.pull-left {
  // float: left;
}

.pull-right {
  float: right;
}


.summary {
  margin: spacing(1) 0 spacing(1);

  &__list {
    white-space: pre-line;
  }
}
