.icon {
    max-height: 15px;
    max-width: 15px;
    &-typescript, &-graphql, &-github-actions {
        background-size: contain;
        background-repeat: no-repeat;
    }
    &-typescript {
        background-image: url(../images/ts-logo-128.svg);
        height: 15px;
        width: 15px;
    }
    &-graphql, &-github-actions {
        max-width: unset;
        max-height: unset;
    }
    &-graphql {
        background-image: url(../images/graphql-logo.svg);
        height: 27px;
    }
    &-github-actions {
        background-image: url(../images/github-actions.svg);
        height: 23px;
    }
}