.education-container {
  .details {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    .dates {
        white-space: nowrap;
    }
    .location {
      padding-bottom: 6px;
      font-weight: 400;
    }
}

  .specialization {
    text-transform: none;
    font-style: italic;
  }
}
