.skills-container {
    padding-right: 14px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        .keyline {
            margin: 8px 0 0 0;
        }
    }
}