<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/portfolio/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/portfolio/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
    <script defer src="./js/regular.js"></script>
    <script defer src="./js/brands.js"></script>
    <script defer src="./js/solid.js"></script>
    <script defer src="./js/fontawesome.js"></script>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPCCBMHYPB"></script>
  <script>
    if (window.location.hostname === 'wilsonespina.com') {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MPCCBMHYPB');
    }
  </script>

  <body>
    <main id="resume" class="page right-border">
    <i class="fa-solid fa-user"></i>
    {{!-- <i class="fa-regular fa-github-action"></i> --}}
    <i class="fa-regular fa-typescript fa-xl"></i>
    {{!-- <i class="fa-regular fa-testing"></i> --}}
      {{> resume-header}}
      <div class="resume-content">
        <aside class="left-column">
          {{> about }}
          {{> skills }}
          {{> languages }}
          {{> interests }}
        </aside>
        <div class="right-column">
          {{> summary}}
          {{> work }}
          {{> volunteer }}
          {{> education }}
          {{> awards }}
          {{> publications }}
          {{> references }}
        </div>
      </div>
    </main>
  </body>
</html>
